*{
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: stretch;
}

.enviro {
  display: flex;
  flex-direction: column;

  padding: 0 1em;

  > h2 {
    padding-top: .5em;
    text-align: center;
  }

  &.hub {
    flex-basis: 25%;
    border-right: 10px double black;

    .sub-enviro {
      flex-basis: 100%;
    }
  }

  &.machine {
    flex-basis: 75%;

    .sub-enviro {
      flex-basis: 33.333%;
      border-right: 2px dashed black;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.subs {
  display: flex;
  flex-basis: 100%;
}

.sub-enviro {
  padding-left: .5em;
  padding-right: .5em;
  display: flex;
  flex-direction: column;

  > h3 {
    text-align: center;
    margin-bottom: 0;
  }
}

.branch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
}

.branch-name {
  text-align: center;
  font-family: monospace;
}

.branch-commits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 100%;
  margin: 0;
  padding-left: 15px;
}

.multi-branch {
  display: flex;
}

.multi-branch .branch {
  flex-basis: 50%;
}

.multi-branch + .branch {
  width: 50%;
  margin: 0 auto;
}

.commit {
  position: relative;
  padding: 1em 0;

  &:before {
    content: "";
    position: absolute;
    height: 3em;
    width: 1px;
    background-color: black;
    left: -15px;
    top: 50%;
  }
}

.commit-is-ahead {
  color: red;
}

.commit-truncate {
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 5em;
  overflow: hidden;
}

.files {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 100%;
  list-style-type: square;
}

.file-status {
  line-height: 1;
  display: inline-block;
  font-size: small;
  padding: 3px 6px;
  background: black;
  color: white;
  float: right;
  border-radius: 4px;
}