*{
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: stretch;
}

.enviro {
  display: flex;
  flex-direction: column;

  padding: 0 1em;

  > h2 {
    padding-top: .5em;
    text-align: center;
  }

  &.hub {
    flex-basis: 25%;
    border-right: 10px double black;

    .sub-enviro {
      flex-basis: 100%;
    }
  }

  &.machine {
    flex-basis: 75%;

    .sub-enviro {
      flex-basis: 33.333%;
      border-right: 2px dashed black;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.subs {
  display: flex;
  flex-basis: 100%;
}

.sub-enviro {
  padding-left: .5em;
  padding-right: .5em;
  display: flex;
  flex-direction: column;

  > h3 {
    text-align: center;
    margin-bottom: 0;
  }
}

.branch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
}

.branch-name {
  text-align: center;
  font-family: monospace;
}

.branch-commits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 100%;
  margin: 0;
  padding-left: 15px;
}

.multi-branch-wrap {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.multi-branch {
  display: flex;
}

.multi-branch .branch {
  flex-basis: 50%;
}

.multi-branch + .branch {
  width: 50%;
  margin: 0 auto;
  flex-basis: auto;
}

.commit {
  position: relative;
  padding: 1em 0;

  &:before {
    content: "";
    position: absolute;
    height: 3em;
    width: 1px;
    background-color: black;
    left: -15px;
    top: 50%;
  }
}

$brdr: 5px solid darkorange;

#rebase-onto {
  background: darkorange;
  color: white;
  border: $brdr;
}

.commit-is-ahead {
  color: red;
}

li.commit-is-rebasing {
  border-left: $brdr;
  border-right: $brdr;

  &:first-of-type {
    border-top: $brdr;
  }

  & + li:not(.commit-is-rebasing) {
    border-top: $brdr;
  }
}

.commit-truncate {
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 5em;
  overflow: hidden;
}

.files {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  list-style-type: square;
}

.file {
  margin: .5em 0;
}

.tag {
  line-height: 1;
  display: inline-block;
  font-size: small;
  padding: 3px 6px;
  background: black;
  color: white;
  float: right;
  border-radius: 4px;
}

.notice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: darkorange;
  color: white;
  text-align: center;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;

  &:before,
  &:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;
  }

  &:before {
    position: absolute;
    left:100%;
    top:50%;
    margin-left:-2px;
    content: "";
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba(0,0,0,0.8)%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 10px;
    height: 26px;
    z-index: 100;
    transform: translate(0, -50%);
  }

  &:after {
    left:100%;
    top:50%;
    margin-left:8px;
    transform: translateX(0%)   translateY(-50%);
    content: attr(data-tooltip);
    position: absolute;
    background: rgba(0,0,0,0.8);
    text-align: center;
    color: #fff;
    padding:6px;
    font-size: 14px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
  }

  &:hover:before,
  &:hover:after {
    visibility: visible;
    opacity: 1;
  }
}